/*General*/
*{
	margin: 0px;
	padding: 0px;
	color: white;
	font-family: 'Open Sans', sans-serif;
}
h1{
	font-size: 4rem;
	font-weight: 700;
}
h2{
	font-size: 1.525rem;
	font-weight: 200;
}
h3{
	padding-top: 20px;
	font-size: 1.2rem;
	font-weight: 100;
}
section{
	background: black;
	border-bottom: 8px solid #222;
	padding-top: 50px;
	padding-bottom: 50px;

}
section div.contenido{
	width: 1100px;
	margin: auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.restaurar{
	clear: both;
}
/*General*/

/*Fondo*/
html,body, .cover{
	height: 100%
}

.cover{
	background: url(../img/VE-es-20201123-popsignuptwoweeks-perspective_alpha_website_medium.jpg);

}
/*Fondo*/

/*cabecera*/
section.cabecera{
	background: none;
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
	
}

nav{
	margin: 0 3.5rem;
	padding-top: 26px;
}
div.login{
	float: right;
}
div.logo{ 
	float: left;
}
div.login:hover{
	cursor: pointer;
}
div.login span{
	padding: 7px 17px;
	background: #e50914;
	border-radius: 4px;
}
.presentacion{
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.presentacion input{
	height: 70px;
	width: 600px;
	margin-top: 8px;
	margin-bottom: 3px;
	border-radius: 2px 0px 0px 2px;
	border: solid 1px #5695e9;
	padding-left: 10px;

}
.presentacion span{
	background: #e50914;
	padding: 20px;
	padding-bottom: 22px;
	font-weight: 900;
	margin-left: -5px;
	border: solid #d30f18;
	font-size: 1.1rem;
}
.presentacion span:hover, .contPreguntas span:hover{
	cursor: pointer;
	background: red;
}
/* CABECERA*/

/* TV*/
.izquierda{
	float: left;
}
.derecha{
	float: right;
}
.flotanteTexto{
	width: 59%;
}
.flotanteImagen{
	width: 39%;
}
.contenido img{
	width: 100%;
	height: auto;
	border: 0;
	position: relative;
	z-index: 2;
}
.contenido h2, .preguntas h2{
	font-weight: bold;
	font-size: 50px;
}
.contenido p{
	font-size: 25px;
	font-weight: 200;
}
.tv video{
	position: absolute;
	transform: translate(-375px,63px);
	width: 313px;
	z-index: 1;
}

.disfruta video{
	position: absolute;
	transform: translate(-354px,47px);
	width: 280px;
	z-index: 1;	
}

.tarjetaInt, .portada{
	display: flex;
	align-items: center;
}
.tarjetaInt{
	width: 70%;
	margin: auto;
	border: solid 2px #434343;
	padding: 10px;
	border-radius: 6px;
	position: relative;
	z-index: 2;
	background: black;

}

.tarjeta {
    position: relative;
    transform: translate(-65px, -41px);
}


.tarjeta img{
margin-bottom: -143; 
position: relative;
}

#TextoPortada1{
	font-size: 17px;
	font-weight: 800;
}

#TextoPortada2{
	font-size: 16px;
}

/*TV*/



/*PREGUNTAS*/
.preguntas h2{
	font-weight: bold;
}

.contPreguntas{
	width: 680px;
	margin: auto;
	text-align: center;
}

.contPreguntas div{
	text-align: left;
	font-size: 20px;
}
.pregunta{
	background: #303030;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px
	cursor:pointer;
}

.respuesta{
	background: #303030;
	margin-bottom: 5px;
	margin-top: 5px
}

.pregunta p, .respuesta p{
	padding: 10px;
	padding-left: 20px;

}

.pregunta hr{
	border: 1px solid #262626;
}

.pregunta:hover .respuesta{
	max-height: 1000px
}
.respuesta{
	max-height: 0px;
	overflow: hidden;
	transition: all 1s;
}

.contPreguntas input{
	height: 65px;
	width: 450px;
	margin-top: 20px;
	margin-bottom: 3px;
	border-radius: 2px 0px 0px 2px;
	border: solid 1px #5695e9;
	padding-left: 10px;

}

.contPreguntas span{
	background: #e50914;
	padding: 16px;
	padding-bottom: 20px;
	font-weight: 900;
	margin-left: -5px;
	border: solid #d30f18;
	font-size: 1.1rem;
}

/*PREGUNTAS*/

/*PIE*/
.piecontenido{
	width: 1300px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.contacto, a{
	color: #757575;
	padding: 6px;
	font-size: 12px;
	cursor: pointer;
	justify-content: center;
	margin: auto;
	display: flex;
}

.pie p{
	color: #757575;
	padding: 6px;
	font-size: 12px;
	cursor: pointer
}

.pie .espacio{
	width: 40px;

/*PIE*/